<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>watchkitTableViewTutorial WatchKit App (Complication).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>watchkitTableViewTutorial WatchKit App (Notification).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>watchkitTableViewTutorial WatchKit App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>watchkitTableViewTutorial.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE4F85EB21DFABBD0058A44A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE4F85FF21DFABC10058A44A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE4F860A21DFABC10058A44A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE4F861321DFABC10058A44A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
